

{{!-- 
<div class="brand_color">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="titlepage">
                        <h2>Login</h2>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!-- contact -->
    <div class="contact">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                   {{#if isActive}}
                    <span class="text-danger">You have been blocked by the admin</span>
                   
                   
   
                   {{/if}}
                   {{#if logginError}}
                    <span class="text-danger">Incorrect Username or Password</span>
                   
                   
   
                   {{/if}}

                    <form class="main_form" action="/user_login" method="post">
                        <div class="row">
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                               <br>{{#if err.email.path}} <span class="text-danger">{{err.email.msg}}</span>{{/if}}
                                <input class="form-control" placeholder="Enter Email" type="email" name="email">
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                               <br>{{#if err.password.path}} <span class="text-danger">{{err.password.msg}}</span>{{/if}}
                                <input class="form-control" placeholder="Enter Password" type="password" name="password">
                            </div>
                            
                            
                            <div class=" col-md-12">
                                <button class="send" type="submit">Submit</button>
                            <a href="/user_signup">Already Have an Account</a>
                              <a href="/user_forgotpassword" class="link-secondary text-decoration-none">Forgot Password</a><br>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>  --}}
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family: 'Montserrat', sans-serif;
}
.wrapper {
  display:flex;
  justify-content:center;
  align-items: center;
  height:100vh;
  width:100%;
  background:url('http://codingstella.com/wp-content/uploads/2024/01/download-5.jpeg') no-repeat;
  background-size:cover;
  background-position:center;
  animation:animateBg 5s linear infinite;
}
@keyframes animateBg {
  100% {
    filter:hue-rotate(360deg);
  }
}
.login-box {
  position: relative;
  width: 400px;
  height: 450px;
  background: transparent;
  border-radius: 15px;
  border: 2px solid rgba(255,255,255,.5);
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(15px);
}
h2 {
  font-size:2em;
  color:#fff;
  text-align:center;
}
.input-box {
  position:relative;
  width:310px;
  margin:30px 0;
  border-bottom:1px solid #fff;
}
.input-box label {
  position:absolute;
  top:50%;
  left:5px;
  transform:translateY(-50%);
  font-size:1em;
  color:#fff;
  pointer-events:none;
  transition:.5s;
}
.input-box input:focus  ~ label,
.input-box input:valid  ~ label {
  top:-5px;
}
.input-box input {
  width:100%;
  height:50px;
  background:transparent;
  border:none;
  outline:none;
  font-size:1em;
  color:#fff;
  padding:0 35px 0 5px;
}
.input-box .icon {
  position:absolute;
  right:8px;
  top:50%;
  color: #fff;
  transform: translateY(-50%);
}
.remember-forgot {
  margin:-15px 0 15px;
  font-size:.9em;
  color:#fff;
  display:flex;
  justify-content:space-between;
}
.remember-forgot label input {
  margin-right:3px;
}
.remember-forgot a {
  color:#fff;
  text-decoration:none;
}
.remember-forgot a:hover {
  text-decoration:underline;
}
button {
  width:100%;
  height:40px;
  background-color:#fff;
  border:none;
  border-radius:40px;
  cursor:pointer;
  font-size:1em;
  color:#000;
  font-weight;500;
}
.register-link {
  font-size:.9em;
  color:#fff;
  text-align:center;
  margin:25px 0 10px;
}
.register-link p a {
  color:#fff;
  text-decoration:none;
  font-weight:600;
}
.register-link p a:hover {
  text-decoration:underline;
}
@media (max-width:500px) {
  .login-box {
    width:100%;
    height:100vh;
    border:none;
    border-radius:0;
  }
  .input-box {
    width:290px;
  }
}
    </style>
   <div class="wrapper">
    

  <div class="login-box">
    <form action="/user_login" method="post" id="loginForm">
      <h2>Login</h2>
     {{#if isActive}}
                    <span class="text-danger">You have been blocked by the admin</span>
                   
                   
   
                   {{/if}}
                   {{#if logginError}}
                    <span class="text-danger">Incorrect Username or Password</span>
                   
                   
   
                   {{/if}}

      <div class="input-box">
        <span class="icon">
          <ion-icon name="mail"></ion-icon>
        </span>
        <input type="email" id="email" style="text-transform: none;" required name="email">
        <br>{{#if err.email.path}} <span class="text-danger">{{err.email.msg}}</span>{{/if}}
        <label>Email</label>
      </div>

      <div class="input-box">
        <span class="icon">
          <ion-icon name="lock-closed"></ion-icon>
        </span>
        <input type="password" id="password"  style="text-transform: none;" required name="password">
         <br>{{#if err.password.path}} <span class="text-danger">{{err.password.msg}}</span>{{/if}}
        <label>Password</label>
      </div>

      <div class="remember-forgot">
        <label><input type="checkbox"> Remember me</label>
        <a href="/user_forgotpassword">Forgot Password?</a>
      </div>

      <button type="submit" style="background-color: red; color: white;">Login</button>

      <div class="register-link">
        <p>Don't have an account? <a href="/user_signup">Register</a></p>
      </div>
    </form>
  </div>

</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
document.getElementById('loginForm').addEventListener("submit",(e)=>{
  e.preventDefault()
let email = document.getElementById('email').value;
let password = document.getElementById("password").value
console.log(email,password)

fetch(`https://digityx.shop/userLogin?email=${email}&&password=${password}`).then((result)=>{
  return result.json()
}).then((result)=>{
    if(result.success==true){
      Swal.fire({
  position: "top",
  icon: "success",
  title: "Authenication SuccessFull",
  showConfirmButton: false,
  timer: 1500
});
setTimeout(()=>{location.href = 'http://digityx.shop/user_home'},1500)
     
    }
    else{

  Swal.fire(`${result.error}`);
    }



})

})
</script>