<!-- Not Found Page HTML -->
<div class="page-not-found pt-5">
    <div class="bg-light shadow" style="display: flex; flex-direction: column; justify-content: center;align-items: center;">
        <h2>4<i class="bi bi-bug"></i>04</h2>
        <h3 class="mt-4">Opps! User  Not Found</h3>
        <p>The user not found click forgot to change password<br>or click back to login page</p>
        <div class="mt-5">
            <a href="/user_signup" class="btn btn-primary">Signup</a>
            <a href="/user_resetpassword" class="btn btn-success">Retry</a>
            
        </div>
    </div>
</div>