 <!DOCTYPE html>
 <html lang="en">
 <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
 </head>
 <body style="display: flex;justify-content: center;align-items: center;">
    <img style="width: 50%;height: 500%;" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSonXUxoV8n9L4eWv67gHONQbOByhHX6Cbe7Q&usqp=CAU" alt="">
 </body>
 </html> 